@font-face {
    font-family: 'Pixel';
    src: url('../misc/PixelFont/px10.ttf');
    font-weight: 700;
    font-style: normal;
}

*, body {
    padding: 0;
    margin: 0;
    font-family: Pixel;
    color: black;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template-rows: 28vw auto 100px;
    grid-template-areas: "he" "con" "foot";
}

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: rgba(245, 245, 245, 0.50);
        border-radius: 2px;
    }

    body::-webkit-scrollbar {
        width: 5px;
        background-color: rgba(245, 245, 245, 0.5);
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgba(122, 153, 217, 0.50)), color-stop(0.72, rgba(73, 125, 189, 0.50)), color-stop(0.86, rgba(28, 58, 148, 0.50)));
    }

/*header thingies*/

.TopBackground {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

#Slogan {
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    top: 12vw;
    font-size: 5vw;
}

.Hamburger {
    display: none;
}

header {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-area: he;
    margin: 10px;
    transition: 500ms;
}

    header h1 {
        color: white;
        font-size: 40px;
        margin: 10px;
        letter-spacing: 3px;
    }

    header nav {
        margin-top: -20px;
        float: right;
        width: 800px;
    }

        header nav ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }

            header nav ul li {
                margin: 15px;
                overflow-y: hidden;
            }

                header nav ul li a {
                    text-decoration: none;
                    font-size: 25px;
                    color: white;
                    transition: 500ms;
                    letter-spacing: 3px;
                }

                    header nav ul li a:hover {
                        color: orange;
                    }

/*Everything important*/

content {
    width: 100%;
    grid-area: con;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 1;
    overflow-y: hidden;
}

    content section {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: hidden;
        overflow-y: hidden;
    }

        content section h1 {
            font-size: 40px;
            width: 100%;
            margin-top: 20px;
            text-align: center;
            overflow-y: hidden;
        }

        content section p {
            font-size: 30px;
            width: 90%;
            margin: 20px 0px 20px 0px;
            text-align: left;
            overflow-y: hidden;
        }

        content section img {
            width: 150%;
            height: auto;
            z-index: -1;
        }

        content section div {
            overflow-y: hidden;
        }

        content section ol {
            max-width: 80vw;
            margin: 20px 0px 20px 0px;
            height: auto;
            overflow-y: hidden;
        }

            content section ol li {
                font-size: 25px;
                overflow-y: hidden;
            }

/*Footer and social things*/

footer {
    width: 100%;
    background-color: navy;
    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: center;
}

    footer p {
        color: white;
        font-size: 20px;
    }

/*Class attributes*/

.Gray {
    background-color: #f0f0f0;
}

.Split {
    width: 100vw;
    display: grid;
    grid-template-areas: "L R";
    grid-template-columns: 1fr 1fr;
}

.Left {
    grid-area: L;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.Right {
    grid-area: R;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.Icon {
    height: 100px;
    width: 100px;
    margin: 10px;
    transition: 300ms;
    z-index: 3;
}

    .Icon:hover {
        height: 120px;
        width: 120px;
        margin: 0px;
    }

.Thin {
    height: auto;
}

.Row {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.DownloadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 0;
    border-radius: 25px;
    transition: 0.2s;
}

.DownloadButton {
    width: 200px;
    height: 50px;
    cursor: pointer;
}

    .DownloadButton a {
        text-align: center;
        color: white;
        font-size: 30px;
        overflow-y: hidden;
        text-decoration: none;
    }

    .DownloadButton:hover {
        width: 210px;
        height: 60px;
        border-radius: 30px;
        margin: -5px;
    }

.Heart {
    width: 320px;
    height: 280px;
    margin: auto;
}

/*ID attributes*/

#AndroidDownloadSteps {
    height: 0px;
    transition: 1s;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#AppleDownloadSteps {
    height: 0px;
    transition: 1s;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#WindowsDownloadSteps {
    height: 0px;
    transition: 1s;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#SpellBook {
    margin-top: -9vw;
}